<template>
	<div class="tile" style={backgroundImageStyle}>
	<div class="lower-third">
		<h1 class="truncate">{house.Address__c}</h1>
		<p>{house.City__c}, {house.State__c}</p>
		<p>Beds: {house.Beds__c}&nbsp;&nbsp;&nbsp;Baths: {house.Baths__c}</p>
		<p>
			<lightning-formatted-number
				value={house.Price__c}
				style="currency" 
				currency-code="USD"
				minimum-fraction-digits="0"
				maximum-fraction-digits="0">
			</lightning-formatted-number>
		</p>
	</div>
</div>
</template>